@font-face {
  font-family: PlumbCondensed;
  src: url(../fonts/Plumb.ttf);
}

html,
body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #F7E7EA;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

h1 {
  font-size: 72px;
  line-height: 84px;
  text-align: center;
  letter-spacing: 0.02em;
  font-weight: 400;
}

h2 {
  font-weight: 500;
  font-size: 48px;
  letter-spacing: 0.02em;
  line-height: 56px;
}

p {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #F7E7EA;
}

small {
  font-size: 80%;
}

a, button {
  cursor: pointer;
}

a {
  text-decoration: none;
}

.green {
  color: #83DCCF !important;
}

.btn-primary {
  color: #22171D;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  padding: 21px 95px 21px 91px;
  background: #83DCCF;
  -webkit-box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
          box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.5);
  border-radius: 200px;
  border: none;
}

.btn-primary:hover, .btn-primary:focus {
  background: #22171D;
  color: #83DCCF;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}

.container {
  margin-right: auto;
  margin-left: auto;
}

.container-fluid {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.visible-xs, .visible-sm, .visible-md, .visible-lg {
  display: none !important;
}

.landing-wrapper {
  background: #22171D;
  margin: 0px;
  padding: 0px;
}

.landing-wrapper .navbar-wrapper {
  padding-top: 115px;
  height: 241px;
}

.landing-wrapper .navbar-wrapper .navbar-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: start;
      align-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-wrapper .navbar-wrapper .navbar-content h2 {
  line-height: unset;
}

.landing-wrapper .navbar-wrapper .navbar-content .navbar-icon a {
  margin-right: 20px;
}

.landing-wrapper .navbar-wrapper .navbar-content .navbar-icon a:last-child {
  margin-right: 0px;
}

.landing-wrapper .webinar-wrapper {
  position: relative;
}

.landing-wrapper .webinar-wrapper img {
  margin: auto;
  display: block;
}

.landing-wrapper .webinar-wrapper .webinar-img__content {
  position: absolute;
  bottom: 109px;
  width: 100%;
  height: 277px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 41px;
  padding-bottom: 38px;
  background: rgba(34, 23, 29, 0.69);
}

.landing-wrapper .webinar-wrapper .webinar-img__content h1 {
  color: white;
  margin-bottom: 36px;
}

.landing-wrapper .about .about-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 113px 50px 129px 50px;
}

.landing-wrapper .about .about-row .about-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 576px;
          flex: 0 0 576px;
  max-width: 576px;
}

.landing-wrapper .video {
  position: relative;
  margin-bottom: 42px;
}

.landing-wrapper .video img {
  display: block;
  margin: 0px auto 26px auto;
}

.landing-wrapper .video .btn-play {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -70.5px;
  margin-top: -66.5px;
}

.landing-wrapper .video .btn-play:hover, .landing-wrapper .video .btn-play:focus {
  opacity: 0.9;
}

.landing-wrapper .stream-info {
  font-family: PlumbCondensed;
  padding: 57px 115px 66px 115px;
  border: 1px solid #83DCCF;
  margin-bottom: 87px;
}

.landing-wrapper .stream-info h2 {
  font-size: 22px;
  line-height: 24px;
  text-transform: uppercase;
  color: #FFFFFF;
}

.landing-wrapper .stream-info p {
  font-size: 22px;
  line-height: 24px;
  text-transform: lowercase;
  color: #FFFFFF;
}

.landing-wrapper .stream-info .stream-content__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 40px auto 0px auto;
  width: 890px;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col .steam-content__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 13px;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col .steam-content__item img {
  display: block;
  margin-right: 17px;
  border-radius: 50%;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col.visible-lg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  width: 180px;
  margin-right: 124px;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col.visible-lg h2 {
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: #83DCCF;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col.visible-lg p {
  text-align: right;
  margin-bottom: 12px;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col:nth-child(4) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 107px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col:nth-child(4) .stream-content__price {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.landing-wrapper .stream-info .stream-content__row .stream-content__col:nth-child(4) .stream-content__price .rub {
  display: block;
  margin-right: 8px;
}

.landing-wrapper .education {
  padding: 0px 50px;
  margin: 0px auto 181px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-wrapper .education .education-col {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 578px;
          flex: 0 0 578px;
  max-width: 578px;
}

.landing-wrapper .education .education-col:first-child img {
  display: block;
  margin: 0px auto 74px auto;
  border-radius: 50%;
}

.landing-wrapper .education .education-col:first-child p:nth-child(2) {
  margin-bottom: 30px;
}

.landing-wrapper .education .education-col:nth-child(2) {
  margin-top: 75px;
}

.landing-wrapper .education .education-col:nth-child(2) .education-title {
  letter-spacing: 0.05em;
  color: #F7E7EA;
  margin-bottom: 22px;
}

.landing-wrapper .education .education-col:nth-child(2) small {
  display: block;
  margin-bottom: 25px;
}

.landing-wrapper .direction-wrapper .direction {
  margin-bottom: 411px;
}

.landing-wrapper .direction-wrapper .direction .direction-title {
  font-weight: 300;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #F7E7EA;
  margin-bottom: 105px;
  width: 100%;
  text-align: center;
}

.landing-wrapper .direction-wrapper .direction .direction-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-wrapper .direction-wrapper .direction .direction-list .direction-item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 443px;
          flex: 0 0 443px;
}

.landing-wrapper .direction-wrapper .direction .direction-list .direction-item img {
  display: block;
  margin: 0px auto 48px auto;
}

.landing-wrapper .direction-wrapper .direction .direction-list .direction-item p {
  margin-bottom: 25px;
}

.landing-wrapper .footer-wrapper {
  font-family: PlumbCondensed;
}

.landing-wrapper .footer-wrapper a, .landing-wrapper .footer-wrapper p {
  font-size: 22px;
  line-height: 24px;
  color: #FFFFFF;
}

.landing-wrapper .footer-wrapper .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1052px;
  margin: auto;
  padding-bottom: 204px;
}

.landing-wrapper .footer-wrapper .footer .footer-col.info p:first-child {
  margin-bottom: 65px;
}

.landing-wrapper .footer-wrapper .footer .footer-col.social {
  height: 206px;
  width: 180px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 170px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-wrapper .footer-wrapper .footer .footer-col.social .social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.landing-wrapper .footer-wrapper .footer .footer-col.social .social-list img {
  display: block;
}

.landing-wrapper .footer-wrapper .footer .footer-col.dev {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  max-width: 390px;
}

.landing-wrapper .footer-wrapper .footer .footer-col.dev .footer-dev__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.landing-wrapper .footer-wrapper .footer .footer-col.dev .footer-dev__content img {
  margin-right: 13px;
}

@media (min-width: 1441px) {
  .container {
    max-width: 1440px;
  }
  .visible-lg {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
}

@media (max-width: 1440.98px) {
  .container {
    max-width: 1033px;
  }
  h1 {
    font-size: 48px;
    line-height: 56px;
  }
  h2 {
    font-size: 36px;
    line-height: 42px;
  }
  p {
    font-size: 14px;
    line-height: 20px;
  }
  .visible-md {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .btn-primary {
    font-size: 24px;
    line-height: 28px;
    padding: 15px 68px 15px 65px;
  }
  .navbar-wrapper {
    padding-top: 61px;
    padding-bottom: 26px;
    height: 63px  !important;
    -webkit-box-sizing: content-box;
            box-sizing: content-box;
  }
  .navbar-wrapper .navbar-content .navbar-icon img {
    width: 20.5px;
    height: 20.5px;
    margin-right: 14px !important;
  }
  .navbar-wrapper .navbar-content .navbar-icon img:last-child {
    margin-right: 0px !important;
  }
  .webinar-wrapper .webinar-img__content {
    padding-top: 30px;
    padding-bottom: 27px;
    height: 199px;
  }
  .webinar-wrapper .webinar-img__content h1 {
    margin-bottom: 25px;
  }
  .about .about-row .about-col {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 415px !important;
            flex: 0 0 415px !important;
  }
  .landing-wrapper .video .btn-play {
    margin-top: -90px;
    margin-left: -61.5px;
  }
  .landing-wrapper .stream-info .stream-content__row {
    width: 561px;
    margin-top: 45px;
  }
  .stream-content__col:nth-child(4) {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-left: 107px;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 200px !important;
            flex: 0 0 200px !important;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .stream-content__col:nth-child(4) .visible-md.visible-sm {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    height: calc(100% - 45px);
  }
  .stream-content__col:nth-child(4) .stream-content__price {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    float: left;
  }
  .stream-content__col:nth-child(4) .stream-content__price .rub {
    display: block;
    margin-right: 8px;
  }
  .landing-wrapper .education .education-col {
    max-width: 415px;
  }
  .landing-wrapper .direction-wrapper .direction .direction-list .direction-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 315px;
            flex: 0 0 315px;
  }
  .landing-wrapper .direction-wrapper .direction {
    margin-bottom: 201px;
  }
}

@media (max-width: 1074.98px) {
  .container {
    max-width: 637px;
  }
  h1 {
    font-size: 24px;
    line-height: 28px;
  }
  h2 {
    font-size: 24px;
    line-height: 28px;
  }
  .btn-primary {
    font-size: 14px;
    line-height: 16px;
    padding: 8px 36px;
  }
  .visible-sm {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .navbar-wrapper {
    padding: 28px 0px 32px 0px !important;
    height: auto !important;
  }
  .navbar-wrapper .navbar-content {
    width: 285px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    margin: auto;
  }
  .navbar-wrapper .navbar-content .navbar-icon {
    margin-bottom: 33px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .landing-wrapper .webinar-wrapper .webinar-img__content {
    height: 132px;
    bottom: 0px;
    padding-top: 30px;
    padding-bottom: 15px;
  }
  .landing-wrapper .webinar-wrapper .webinar-img__content h1 {
    margin-bottom: 15px;
  }
  .landing-wrapper .about .about-row {
    padding-left: 0px;
    padding-right: 0px;
  }
  .landing-wrapper .about .about-row .about-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 283px;
            flex: 0 0 283px;
    max-width: 283px;
    margin: auto;
  }
  .landing-wrapper .video img {
    margin-bottom: 55px;
  }
  .landing-wrapper .video {
    margin-bottom: 98px;
  }
  .landing-wrapper .stream-info {
    padding: 57px 76px 60px 94px;
  }
  .landing-wrapper .stream-info p {
    font-size: 18px;
    line-height: 20px;
  }
  .landing-wrapper .stream-info .stream-content__row {
    width: 496px;
    margin-top: 45px;
  }
  .landing-wrapper .education {
    padding: 0px;
    margin: 0 0 159px;
  }
  .landing-wrapper .education .education-col {
    max-width: 293px;
  }
  .landing-wrapper .education .education-col:nth-child(2) {
    margin-top: 0px;
  }
  .landing-wrapper .direction-wrapper .direction .direction-title p {
    text-align: left;
  }
  .landing-wrapper .direction-wrapper .direction .direction-list .direction-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 267px;
            flex: 0 0 267px;
    margin-bottom: 43px;
  }
  .landing-wrapper .direction-wrapper .direction .direction-list {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .footer {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: auto !important;
    padding-bottom: 64px !important;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.info {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-bottom: 76px;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.social {
    margin: 0 0 56px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    height: 120px;
  }
  body > main > div > footer > div > div > div.footer-col.social > p:nth-child(3) {
    display: none;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.dev {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
    max-width: unset;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.dev .footer-dev__content {
    width: 637px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media (max-width: 637.98px) {
  .container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .visible-xs {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: flex !important;
  }
  .visible-sm, .visible-lg, .visible-md {
    display: none !important;
  }
  .about .about-row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding-top: 32px !important;
    padding-bottom: 48px !important;
  }
  .about .about-row .about-col {
    max-height: 275px;
  }
  .landing-wrapper .video img {
    margin-bottom: 17px !important;
  }
  .landing-wrapper .video {
    margin-bottom: 82px;
  }
  .landing-wrapper .stream-info {
    padding: 47px 49px 41px 55px;
  }
  .landing-wrapper .stream-info .stream-content__row {
    width: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    margin-top: 12px;
  }
  .landing-wrapper .stream-info .stream-content__row .stream-content__col:nth-child(4) {
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 70% !important;
            flex: 0 0 70% !important;
    margin-left: 0px;
  }
  body > main > div > div.stream-info__wrapper > div > div > div > div > div.stream-content__col.visible-xs > p {
    margin-bottom: 16px;
  }
  body > main > div > div.stream-info__wrapper > div > div > div > div > div.stream-content__col.visible-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end !important;
        -ms-flex-align: end !important;
            align-items: flex-end !important;
    width: 80%;
    margin-bottom: 61px;
  }
  body > main > div > div.stream-info__wrapper > div > div > div > div > div:nth-child(3) {
    margin-bottom: 50px;
  }
  body > main > div > div.stream-info__wrapper > div > div > div > div > div.stream-content__col.visible-xs {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .landing-wrapper .education {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    margin-bottom: 46px;
  }
  .landing-wrapper .education .education-col:first-child img {
    margin-bottom: 37px !important;
  }
  .landing-wrapper .education .education-col {
    -webkit-box-flex: unset;
        -ms-flex: unset;
            flex: unset;
  }
  body > main > div > div.education-wrapper > div > div > div:nth-child(1) {
    margin-bottom: 48px;
  }
  .landing-wrapper .direction-wrapper .direction .direction-list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .landing-wrapper .direction-wrapper .direction .direction-title {
    width: 267px;
    margin: 0px auto 74px auto;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.dev {
    width: auto;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.dev .footer-dev__content {
    width: auto;
  }
  body > main > div > footer > div > div > div.footer-col.dev > div > p {
    font-size: 14px;
    line-height: 15px;
    max-width: 60%;
  }
  .landing-wrapper .footer-wrapper p {
    font-size: 14px;
    line-height: 15px;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.info p:first-child {
    margin-bottom: 15px;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.social .social-list img {
    width: 20px;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.social {
    height: 60px;
  }
  .landing-wrapper .footer-wrapper .footer .footer-col.dev .footer-dev__content img {
    width: 40px;
  }
  .landing-wrapper .direction-wrapper .direction {
    margin-bottom: 125px;
  }
  small {
    font-size: 12px;
    letter-spacing: 0.05em;
    line-height: 14px;
  }
  .landing-wrapper .direction-wrapper .direction .direction-list .direction-item img {
    width: 90px;
  }
  .landing-wrapper .education .education-col:first-child img {
    width: 140px;
  }
}
/*# sourceMappingURL=style.css.map */
